#chang-userInfo {
    /*background: white;*/
    margin-left: -5%;
    margin-top: 10%;
    font-family: "microsoft yahei";
}

#chang-userInfo li {
    margin: 20px 0;
    display: block;
}

input,
select {
    vertical-align: middle;
    width: 200px;
    box-sizing: border-box;
    border: 1px solid #61b0c9;
}

#saveBtn {
    border: none;
    font-family: arial;
    margin: 0;
    width: 300px;
    background: #61b0c9;
    height: 40px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 35px;
    border-radius: 1.5em;
}

/*---------------------------------------*/
.infoVideo {
    width: 100%;
    height: 200px;
    padding-left: 50px;
    border-left: 4px solid rgb(23, 162, 184);
    border-bottom: 1px solid rgb(23, 162, 184);
    border-bottom-right-radius: 15px;
    font-family: "microsoft yahei";
    background-color: rgb(248, 249, 250);
}

.name {
    font-size: 25px;
    color: rgb(23, 162, 184);
}

.infoVideo img {
    width: 124px;
    height: 124px;
    margin-bottom: 10px;
    /*filter: grayscale(100%);*/
}

/*.borderLine{
	margin-left: -52px;
	width: 4px;
	height: 100%;
	background: rgb(255, 106, 32);
	border-radius: 2.5em;
}*/
.rightText {
    /*margin-right: 20px;*/
}

.rightText p {
    margin: 10px 0;
    font-weight: 600;
}

.rightText p span {
    font-family: "microsoft sans serif";
}

.class-category {
    color: rgb(255, 106, 32);
}

.inZhibo {
    margin-right: 8%;
}

.myZhibo {
    margin-bottom: 4%;
}

