<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
</head>
<body>
<div class="container menu navs" th:fragment="header">
    <nav class="navbar  navbar-expand-sm navbar-fixed-top navbar-light ">
        <a class="navbar-brand logoBlack" href="#" th:href="@{/}">
            <img src="/img/logoBlack.png" style="width: 55px;">
        </a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/}"><strong>首页</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/live}">
                    <strong>直播教学</strong>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/video}"><strong>课程回放</strong></a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto user">
            <li class="nav-item">
						<span class="userImg">
							<a href="#" th:href="@{/user}">
                                <img src="/img/teacher.jpg"
                                     th:src="@{/img/}+${session.loginUserKind=='teacher'?'teacher':'student'}+'.jpg'">
                            </a>
                            <!--直播消息通知-->
                            <a class="badge badge-danger badge-pill" href="#" id="message" th:href="@{/user}"
                               th:if="${session.todayLiveCount}>0" th:text="${session.todayLiveCount}">12</a>
						</span>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" th:href="@{/user}">
                    <strong th:text="${session.loginUserNickname}">昵称</strong>
                </a>

            </li>
            <li class="nav-item">
                <strong class="nav-link" th:text="${session.loginUserKind}=='student'?'学生':'老师'">学生端</strong>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>