<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link href="css/loginStyle.css" rel="stylesheet" th:href="@{/css/loginStyle.css}"/>
    <title>登录</title>
</head>

<body>
<div class="container">
    <div class="row">
        <div class="col-md-10 offset=md-1">
            <div class="row">
                <div class="col-md-5 register-left">
                    <h2>“在线教学直播平台”</h2>
                    <p>在线教学平台是一款基于OBS直播推流的线上平台，主要用于教师以直播的方式与学生进行在线"教"与"学"，打破了传统的线下教学模式，开启了一种新颖的学习方式。</p>
                    <p>还未注册账号？</p>
                    <a href="register-student.html" th:href="@{/register/student}">
                        <button class="btn btn-dark btn-secondary " type="button">学生注册</button>
                    </a>
                    <a href="register-teacher.html" th:href="@{/register/teacher}">
                        <button class="btn btn-dark btn-secondary " type="button">老师注册</button>
                    </a>
                </div>
                <div class="col-md-7 register-right">
                    <h4>用户登录</h4>
                    <h4 style="color: red; text-align: center" th:text="${message}"></h4>
                    <form class="register-form" method="post" th:action="@{/login}">
                        <div class="form-group">
                            <input class="form-control" name="id" placeholder="学号/工号" required type="text"/>
                        </div>
                        <div class="form-group">
                            <input class="form-control" name="password" placeholder="密码" required type="password"/>
                        </div>
                        <div class="well well-sm" style="text-align:center;margin-bottom: 10px;">
                            <input checked name="kind" required type="radio" value="student"> 学生
                            <input name="kind" required type="radio" value="teacher"> 老师
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">登录</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

</body>

</html>