<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="css/video.css" rel="stylesheet" th:href="@{/css/video.css}">
</head>
<body>

<!--导航栏-->
<div th:replace="header::header"></div>
<!--导航栏-->

<!--轮播图-->
<div class="container banner">
    <div class="carousel slide" data-interval="2500" data-ride="carousel" id="carousel-banner">
        <ol class="carousel-indicators">
            <li class="" data-slide-to="0" data-target="#carousel-banner"></li>
            <li class="" data-slide-to="1" data-target="#carousel-banner"></li>
            <li class="active" data-slide-to="2" data-target="#carousel-banner"></li>
        </ol>
        <div class="carousel-inner">
            <a class="carousel-item" href="https://www.baidu.com/">
                <img alt="" class="d-block w-100" src="img/bg1.jpg">
            </a>
            <a class="carousel-item" href="https://www.baidu.com/">
                <img alt="" class="d-block w-100" src="img/bg2.jpg">
            </a>
            <a class="carousel-item active" href="https://www.baidu.com/">
                <img alt="" class="d-block w-100" src="img/bg3.jpg">
            </a>
        </div>
        <a class="carousel-control-prev" data-slide="prev" href="#carousel-banner">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" data-slide="next" href="#carousel-banner">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
<script charset="UTF-8" src="js/popper.js" th:href="@{/js/popper.js}"></script>
<script charset="UTF-8" src="js/jquery.js" th:href="@{/js/jquery.js}"></script>
<script charset="UTF-8" src="js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<!--轮播图-->


<!--名师推荐-->
<div class="container teachers">
    <div class="tetimonials">
        <div class="inner">
            <h4 class="subtitle">教师介绍</h4>
            <div class="border"></div>
            <div class="rowT">
                <div class="colT">
                    <div class="testimonial">
                        <img alt="" src="img/1.jpg">
                        <div class="name">路人甲</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
                <div class="colT">
                    <div class="testimonial">
                        <img alt="" src="img/2.jpg">
                        <div class="name">路人乙</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
                <div class="colT">
                    <div class="testimonial">
                        <img alt="" src="img/3.jpg">
                        <div class="name">路人丙</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
                <div class="colT">
                    <div class="testimonial">
                        <img alt="" src="img/4.jpg">
                        <div class="name">路人丁</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>