<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>教师介绍</title>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="css/video.css" rel="stylesheet" th:href="@{/css/video.css}">
</head>

<body>
<!--导航栏-->
<div th:replace="header::header"></div>
<!--导航栏-->

<!--名师推荐-->
<div class='container teachers'>
    <div class='tetimonials'>
        <div class='inner'>
            <h4 class='subtitle'>教师介绍</h4>
            <div class='border'></div>
            <div class='row'>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t1.jpg'/>
                        <div class='name'>陈建兵</div>
                        <p>软件开发工程师--十余年的开发经历，精通java、Python、PHP等编程语言，喜欢篮球与摄影，目前在学校作为一名教师进行Python教学。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t2.jpg'/>
                        <div class='name'>吴飞伟</div>
                        <p>目前主要负责后端架构设计工作，具有丰厚的一线开发经验与架构经验，喜欢钻研各种源码，曾任某知名高校负责后端架构，教学中注重互动，乐于分享。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t3.jpg'/>
                        <div class='name'>路明非</div>
                        <p>知名高校计算机大学教学，专注与网页制作、平面设计、多媒体技术等多个领域，工作认真，风趣幽默的授课方式深受学生们的喜爱。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t4.jpg'/>
                        <div class='name'>陈子龙</div>
                        <p>资深软件测试工程师--带领学生团队建立多个大型项目的安全测试工作，精通Jmeter等各种工具的使用，其出品的软件测试系列教学视频收到学生的一致好评。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class='tetimonials'>
        <div class='inner'>
            <div class='row'>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t5.jpg'/>
                        <div class='name'>李可欣</div>
                        <p>曾任某大型互联网企业前端架构工程师，完成众多前端开发项目，熟悉前端学习，针对前端开发出品多个教学视频，收到学生们的喜爱。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t6.jpg'/>
                        <div class='name'>王毅</div>
                        <p>著名软件测试工程师，有着7年的软件测试从业经验，对性能测试、白盒测试、全栈测试都有着很深的研究，精通Jmeter等各种工具的使用。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t7.jpg'/>
                        <div class='name'>赵清进</div>
                        <p>著名Python全栈工程师，有着多年的工作经验，对爬虫、web开发有着浓厚的兴趣，对于机器视觉方面有着很深的研究，时刻关注前言技术与发展趋势。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t8.jpg'/>
                        <div class='name'>丁升晖</div>
                        <p>曾就职与某知名大型互联网公司，负责后端开发工作，熟悉C、CPP、Java、Python等开发语言，有着5年的IT从业经验，深受好评。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class='tetimonials'>
        <div class='inner'>

            <div class='row'>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t9.jpg'/>
                        <div class='name'>吴仁飞</div>
                        <p>资深算法工程师、机器学习工程师，在BAT多家企业有过工作经验，多次发表算法类文章，推荐算法的0-1搭建，开设多门算法类教学课程。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t10.jpg'/>
                        <div class='name'>陆泽明</div>
                        <p>多年的JAVA架构设计与研发经验。目前就职于某知名互联网公司，从事基础架构设计研发工作，有着丰富的经验，开设多个教学视频。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t11.jpg'/>
                        <div class='name'>孙铎</div>
                        <p>丰富的互联网产品开发经验，长期钻研前端开发技术，擅长前端架构技术以及实现复杂的前端交互。教学中注重与学员互动，乐于分享。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='/img/t12.jpg'/>
                        <div class='name'>石可可</div>
                        <p>从事互联网web 开发多年，热爱IT行业，对PHP，Python，Java都有涉猎， 实践经验丰富，富有激情，热爱分享喜欢专研新技术。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--名师推荐-->
</body>

</html>