<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>教师介绍</title>
    <meta charset="UTF-8">
    <link href="css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="css/video.css" rel="stylesheet" th:href="@{/css/video.css}">
</head>

<body>
<!--导航栏-->
<div th:replace="header::header"></div>
<!--导航栏-->
<!--名师推荐-->
<div class='container teachers'>
    <div class='tetimonials'>
        <div class='inner'>
            <h4 class='subtitle'>教师介绍</h4>
            <div class='border'></div>
            <div class='row'>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='img/1.jpg'/>
                        <div class='name'>陈建兵</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='img/2.jpg'/>
                        <div class='name'>吴飞伟</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='img/3.jpg'/>
                        <div class='name'>路明非</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='img/4.jpg'/>
                        <div class='name'>陈子龙</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class='tetimonials'>
        <div class='inner'>
            <div class='row'>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='img/1.jpg'/>
                        <div class='name'>李可欣</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='img/2.jpg'/>
                        <div class='name'>王毅</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='img/3.jpg'/>
                        <div class='name'>赵清进</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='img/4.jpg'/>
                        <div class='name'>丁升晖</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class='tetimonials'>
        <div class='inner'>

            <div class='row'>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='img/1.jpg'/>
                        <div class='name'>吴仁飞</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='img/2.jpg'/>
                        <div class='name'>陆泽明</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='img/3.jpg'/>
                        <div class='name'>孙铎</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>
                <div class='col-3'>
                    <div class='testimonial'>
                        <img alt='' src='img/4.jpg'/>
                        <div class='name'>石可可</div>
                        <p>软件开发工程师--毕业于XXX大学，十余年的开发经历，精通Java、C、C++、Python等编程语言，有着丰富的架构设计、开发经验。</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!--名师推荐-->
</body>

</html>