<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>我的视频</title>
    <meta charset="UTF-8">
    <link href="css/bootstrap.min.css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="css/video.css" rel="stylesheet" th:href="@{/css/video.css}">
    <link href="css/zhibo.css" rel="stylesheet" th:href="@{/css/zhibo.css}">
    <link href="css/user-left.css" rel="stylesheet" th:href="@{/css/user-left.css}">
    <link href="css/user-right.css" rel="stylesheet" th:href="@{/css/user-right.css}">
</head>
<body>

<!--导航栏-->
<div th:replace="header::header"></div>
<!--导航栏-->
<div class="container userPage">
    <div class="row">
        <div class="col-3" id="left-info">
            <div th:replace="user-teacher-sidebar::sidebar">
            </div>
        </div>
        <div class="col-9" id="right-info">
            <div class="tab-content">
                <div class="tab-pane fade active show" id="message-content">
                    <div class="container" id="myZhibo">
                        <div class="infoVideo align-items-center" style="height: 300px;margin-bottom: 2%;"
                             th:each="videoVM:${videoVMList}">
                            <div class="name" style="padding-top: 2%;">
                                <strong th:text="${videoVM.name}">Div+CSS布局</strong>
                            </div>
                            <div></div>
                            <br/>
                            <p>
                                课程：<span class="class-category" th:text="${videoVM.course.name}">网页制作</span>
                            </p>
                            <p>
                                年级：<span th:text="${videoVM.grade}">2016</span>
                            </p>
                            <p>
                                资料：<a class="btn" href="#" th:href="@{/video/material/}+${videoVM.videoMaterial.id}"
                                      th:if="${videoVM.videoMaterial}">下载</a>
                            </p>
                            <form method="post" style="float: right; margin-right: 50px;"
                                  th:action="@{/video/}+${videoVM.id}">
                                <input hidden name="_method" value="delete"/>
                                <button class="btn btn-danger" type="submit">删除视频</button>
                                <a class=" btn ml-auto " href="#"
                                   th:href="@{/video/}+${videoVM.id}">观看视频</a>
                                <a class=" btn ml-auto " href="#"
                                   th:href="@{/homework/listByVideoId/}+${videoVM.id}">批改作业</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>