<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Video</title>
    <link href="css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link href="css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
    <link href="css/video.css" rel="stylesheet" th:href="@{/css/video.css}">
</head>
<body>
<!--导航栏-->
<div th:replace="header::header"></div>
<!--导航栏-->

<!--播放器-->
<div class="container">
    <div class="row">
        <div class="col-12">
            <video controls="controls" th:src="${'/video/download/' + videoName}" width="1250px"></video>
        </div>
    </div>
</div>
</body>
</html>